.home-banner{

  
    background-image: url('../../asset/banner.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 150px 0;

    position: relative;
    z-index: 1;

}

.home-banner::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgb(17 17 17 / 67%);
    z-index: -1;
}
.home-card{
    background-color: #222428;
    padding: 50px 0;
}
.card-box1 {
    padding: 31px 25px;
    border: 5px solid #fade60;
    border-radius: 12px;
}

.card-box2 {
    padding: 31px 25px;
    border: 5px solid #a467dd;
    border-radius: 12px;
}
.card-box3 {
    padding: 31px 25px;
    border: 5px solid #47cf73;
    border-radius: 12px;
}
.won-icon{
    font-size: 40px;
    background-color: #fade60;
    color: #ffffff;
    height: 50px;
   width: 50px;
   border-radius: 50px;
}
.exp{
    display: flex;
}
.testimonial{
    background-color: #f9cc57;
}
.testimonial-img{
 position: relative;
 z-index: 1;
}
.testimonial-img::after{
    content:"";
    width: 100%;
    height: 100%;
    top: 10px;
    left:10px;
    background-color: #fade60;
    position: absolute;
    z-index: -1;
    border: 1px solid #fade60;
    border-radius: 10px;
    
}


